version: '2'

networks:
  appnetwork:
     driver: bridge

services:
  app-web:
    build: ./wfpg
    ports:
      - "8011:8080"
      - "9990:9990"
    networks:
      - appnetwork
    depends_on:
      - app-db
  app-db:
    build: ./db
    ports:
      - "5433:5432"
    networks:
      - appnetwork
